---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [4]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.shape

(500,)

In [2]:
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [3]:
df.str.len().head()

0    43
1    29
2    55
3    36
4    63
dtype: int64

In [4]:
df.str.extractall(r'(?P<origin>(?P<month>\d?\d)[/](?P<day>\d?\d)[/](?P<year>\d{4}))')

               origin month day  year
    match
14  0       5/24/1990     5  24  1990
15  0       1/25/2011     1  25  2011
17  0      10/13/1976    10  13  1976
24  0      07/25/1984    07  25  1984
30  0      03/31/1985    03  31  1985
34  0       5/12/2012     5  12  2012
38  0       7/27/1986     7  27  1986
43  0       4/13/2002     4  13  2002
45  0       2/15/1998     2  15  1998
55  0      10/11/1987    10  11  1987
58  0       12/5/2010    12   5  2010
59  0      08/20/1982    08  20  1982
64  0      07/29/1994    07  29  1994
69  0       11/3/1985    11   3  1985
77  0      01/05/1999    01  05  1999
82  0       7/07/1974     7  07  1974
83  0      09/14/2000    09  14  2000
85  0       8/09/1981     8  09  1981
92  0      04/08/2004    04  08  2004
94  0      12/08/1990    12  08  1990
95  0       4/11/1974     4  11  1974
102 0      07/18/2002    07  18  2002
106 0       2/11/2006     2  11  2006
109 0       7/20/2011     7  20  2011
118 0       4/27/2006     4  27  2006

In [5]:
regex1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
regex2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})'
regex3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
regex4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
regex5 = '(\d{1,2}[/-][1|2]\d{3})'
regex6 = '([1|2]\d{3})'
full_regex = '(%s|%s|%s|%s|%s|%s)' %(regex1, regex2, regex3, regex4, regex5, regex6)
df.str.extract(full_regex)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

              0           1    2    3    4    5     6
0      03/25/93    03/25/93  NaN  NaN  NaN  NaN   NaN
1       6/18/85     6/18/85  NaN  NaN  NaN  NaN   NaN
2        7/8/71      7/8/71  NaN  NaN  NaN  NaN   NaN
3       9/27/75     9/27/75  NaN  NaN  NaN  NaN   NaN
4        2/6/96      2/6/96  NaN  NaN  NaN  NaN   NaN
5       7/06/79     7/06/79  NaN  NaN  NaN  NaN   NaN
6       5/18/78     5/18/78  NaN  NaN  NaN  NaN   NaN
7      10/24/89    10/24/89  NaN  NaN  NaN  NaN   NaN
8        3/7/86      3/7/86  NaN  NaN  NaN  NaN   NaN
9       4/10/71     4/10/71  NaN  NaN  NaN  NaN   NaN
10      5/11/85     5/11/85  NaN  NaN  NaN  NaN   NaN
11      4/09/75     4/09/75  NaN  NaN  NaN  NaN   NaN
12      8/01/98     8/01/98  NaN  NaN  NaN  NaN   NaN
13      1/26/72     1/26/72  NaN  NaN  NaN  NaN   NaN
14    5/24/1990   5/24/1990  NaN  NaN  NaN  NaN   NaN
15    1/25/2011   1/25/2011  NaN  NaN  NaN  NaN   NaN
16      4/12/82     4/12/82  NaN  NaN  NaN  NaN   NaN
17   10/13/1976  10/13/1976  NaN  NaN  NaN  NaN   NaN
18      4/24/98     4/24/98  NaN  NaN  NaN  NaN   NaN
19      5/21/77     5/21/77  NaN  NaN  NaN  NaN   NaN
20      7/21/98     7/21/98  NaN  NaN  NaN  NaN   NaN
21     10/21/79    10/21/79  NaN  NaN  NaN  NaN   NaN
22      3/03/90     3/03/90  NaN  NaN  NaN  NaN   NaN
23      2/11/76     2/11/76  NaN  NaN  NaN  NaN   NaN
24   07/25/1984  07/25/1984  NaN  NaN  NaN  NaN   NaN
25      4-13-82     4-13-82  NaN  NaN  NaN  NaN   NaN
26      9/22/89     9/22/89  NaN  NaN  NaN  NaN   NaN
27      9/02/76     9/02/76  NaN  NaN  NaN  NaN   NaN
28      9/12/71     9/12/71  NaN  NaN  NaN  NaN   NaN
29     10/24/86    10/24/86  NaN  NaN  NaN  NaN   NaN
..          ...         ...  ...  ...  ...  ...   ...
470        1983         NaN  NaN  NaN  NaN  NaN  1983
471        1999         NaN  NaN  NaN  NaN  NaN  1999
472        2010         NaN  NaN  NaN  NaN  NaN  2010
473        1975         NaN  NaN  NaN  NaN  NaN  1975
474        1972         NaN  NaN  NaN  NaN  NaN  1972
475        2015         NaN  NaN  NaN  NaN  NaN  2015
476        1989         NaN  NaN  NaN  NaN  NaN  1989
477        1994         NaN  NaN  NaN  NaN  NaN  1994
478        1993         NaN  NaN  NaN  NaN  NaN  1993
479        1996         NaN  NaN  NaN  NaN  NaN  1996
480        2013         NaN  NaN  NaN  NaN  NaN  2013
481        1974         NaN  NaN  NaN  NaN  NaN  1974
482        1990         NaN  NaN  NaN  NaN  NaN  1990
483        1995         NaN  NaN  NaN  NaN  NaN  1995
484        2004         NaN  NaN  NaN  NaN  NaN  2004
485        1987         NaN  NaN  NaN  NaN  NaN  1987
486        1973         NaN  NaN  NaN  NaN  NaN  1973
487        1992         NaN  NaN  NaN  NaN  NaN  1992
488        1977         NaN  NaN  NaN  NaN  NaN  1977
489        1985         NaN  NaN  NaN  NaN  NaN  1985
490        2007         NaN  NaN  NaN  NaN  NaN  2007
491        2009         NaN  NaN  NaN  NaN  NaN  2009
492        1986         NaN  NaN  NaN  NaN  NaN  1986
493        1978         NaN  NaN  NaN  NaN  NaN  1978
494        2002         NaN  NaN  NaN  NaN  NaN  2002
495        1979         NaN  NaN  NaN  NaN  NaN  1979
496        2006         NaN  NaN  NaN  NaN  NaN  2006
497        2008         NaN  NaN  NaN  NaN  NaN  2008
498        2005         NaN  NaN  NaN  NaN  NaN  2005
499        1980         NaN  NaN  NaN  NaN  NaN  1980

[500 rows x 7 columns]

In [6]:
def date_sorter():
    global df
    regex1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
    regex2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})'
    regex3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
    regex4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
    regex5 = '(\d{1,2}[/-][1|2]\d{3})'
    regex6 = '([1|2]\d{3})'
    full_regex = '(%s|%s|%s|%s|%s|%s)' %(regex1, regex2, regex3, regex4, regex5, regex6)
    parsed_date = df.str.extract(full_regex)
    parsed_date = parsed_date.iloc[:,0].str.replace('Janaury', 'January').str.replace('Decemeber', 'December')
    parsed_date = pd.Series(pd.to_datetime(parsed_date))
    parsed_date = parsed_date.sort_values(ascending=True).index
    return pd.Series(parsed_date.values)

In [7]:
date_sorter()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  # Remove the CWD from sys.path while we load stuff.

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
      ...
470    220
471    208
472    243
473    139
474    320
475    383
476    244
477    286
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    427
495    231
496    141
497    186
498    161
499    413
Length: 500, dtype: int64